@import url('https://cdn.jsdelivr.net/gh/MonadABXY/mona-font/web/mona.css');

html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'mona12';
    background-color: #d9fbff;
}

#container {
    width: 58rem;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    padding: 2rem;
    border-left: solid 1rem rgba(255, 255, 255, 0.4);
    border-right: solid 1rem rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    margin-bottom: 0.8rem;
    gap: 0.5rem;
    width: 49rem;
}

h1 {
    font-size: 6.5rem;
    font-weight: 600;
    color: #d100ae;
}

#title > div {
    width: 75%;
}

#title > div > div {
    font-size: 1.5rem;
    color: #ff85eb;
}

h2 {
    font-size: 3rem;
    color: #d100ae;
    display: inline;
}

#info {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: dashed 2.5px #d100ae;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.9rem;
    line-height: 1.5;
    width: 15rem;
    height: 10.5rem;
    border: solid 2px #d100ae;
}

.card > p:first-child {
    font-size: 1.1rem;
    font-weight: 600;
}

.card> p:first-child, .card > p:nth-child(2) {
    display: inline;
}

.card > p:nth-child(2) {
    font-size: 0.8rem;
    color: white;
    padding: 0.3rem;
}

.card > p:nth-child(3) {
    font-size: 0.85rem;
    font-weight: bold;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.card > p:nth-child(4) {
    font-size: 0.8rem;
    word-break: keep-all;
}

.frontend {
    background-color: #46d64d;
}

.design {
    background-color: #dfdb4f;
}

.backend {
    background-color: #f55b58;
}

#explanation {
    font-size: 1.1rem;
    line-height: 1.5;
    width: 49rem;
}

.bold {
    font-weight: bold;
}